<section id="PasswordGroups">
<section data-id="group-1" class="group-section">
    <div>Group 1</div>
    <article>
        <ul class="password-list">
            <li data-id="group-1-item-1"><span class="password-name">Item 1</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
            <li data-id="group-1-item-2"><span class="password-name">A second item, #2</span><span class="password-value"><input type="text" value="Some plaintext value" readonly="readonly" data-type="decrypted" data-decrypted="true"/> <button>Delete</button></span></li>
            <li data-id="group-1-item-3"><span class="password-name">Lastly, number 3</span><span class="password-value"><input type="text" value="The decrypted value" readonly="readonly" data-type="encrypted" data-decrypted="true"/> <button>Delete</button></span></li>
        </ul>
    </article>
</section>

<section data-id="group-2" class="group-section">
    <div>Group 2</div>
    <article>
        <ul class="password-list">
            <li data-id="group-2-item-1"><span class="password-name">One encrypted</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
            <li data-id="group-2-item-2"><span class="password-name">And another encrypted value! And another encrypted value!</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
        </ul>
    </article>
</section>
</section>

<p>
    Notes:
    <ul>
        <li>Implement client add / update</li>
        <li>Implement the password db; implement the controller actions to load/update/etc.</li>
        <li>Save master password for the length of the session (which we should set to a low value, e.g. 5 or 10 mins)</li>
        <li>Clean up login page</li>
        <li>After logging in (or if skipped) and the master password hasn't been set, go to a page to enter a new master password...which on success will create a valid masterdb password entry in the database.</li>
        <li>Save / backup to Dropbox preferrably, but perhaps initially just allow download.</li>
        <li>Use the JS local storage library to save expanded group state.</li>
        <li>Checkout how to deploy to IIS.</li>
        <li>Need new ssl cert.</li>
    </ul>
</p>

<p>
TODO: Area to add new password.
<br/>
Note, should consolidate the password generator from the old homepage
and the 'add new password' section into one.
</p>

<div id="modal-background"></div>
<div id="modal-content">
    <div><button id="modal-close">Close</button></div>
    <form id="masterpasswordentryform">
    <div class="modal-content-header"></div>

    <fieldset>
    <div>
        <label for="masterpassword">Master Password:</label>
        <input type="password" id="masterpassword" name="masterpassword" />
    </div>
    
    <div>
        <label for="remembermasterpassword">Remember for the session:</label>
        <input type="checkbox" id="remembermasterpassword" name="remembermasterpassword" value="true" />
    </div>
    </fieldset>

    <div>
    <input type="submit" value="OK" />
    <input type="button" value="Cancel" />
    <input type="hidden" name="action" />
    <input type="hidden" name="group" />
    <input type="hidden" name="entry" />
    </div>
    </form>
</div>

@section Scripts {
<script type="text/javascript">
    $(function() { initialisePasswordGroups(); });
</script>
}
