<section id="PasswordGroups">
<section id="group-1" class="group-section">
    <div>Group 1</div>
    <article>
        <ul class="password-list">
            <li id="group-1-item-1"><span class="password-name">Item 1</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
            <li id="group-1-item-2"><span class="password-name">A second item, #2</span><span class="password-value"><input type="text" value="Some plaintext value" readonly="readonly" data-type="decrypted" data-decrypted="true"/> <button>Delete</button></span></li>
            <li id="group-1-item-3"><span class="password-name">Lastly, number 3</span><span class="password-value"><input type="text" value="The decrypted value" readonly="readonly" data-type="encrypted" data-decrypted="true"/> <button>Delete</button></span></li>
        </ul>
    </article>
</section>

<section id="group-2" class="group-section">
    <div>Group 2</div>
    <article>
        <ul class="password-list">
            <li id="group-2-item-1"><span class="password-name">One encrypted</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
            <li id="group-2-item-2"><span class="password-name">And another encrypted value! And another encrypted value!</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <button>Delete</button></span></li>
        </ul>
    </article>
</section>
</section>

<p>
    Notes:
    <ul>
        <li>Clicking the textbox should prompt to decrypt / or decrypt if master password is still good.</li>
        <li>Implement delete</li>
        <li>Implement add / update</li>
        <li>Build the page dynamically, based on password db.</li>
        <li>Clean up login page</li>
        <li>Save / backup to Dropbox preferrably, but perhaps initially just allow download.</li>
        <li>Use the JS local storage library to save expanded group state.</li>
        <li>Checkout how to deploy to iis.</li>
        <li>Need new ssl cert.</li>
    </ul>
</p>

<p>
TODO: Area to add new password.
<br/>
Note, should consolidate the password generator from the old homepage
and the 'add new password' section into one.
</p>

<div id="modal-background"></div>
<div id="modal-content">
    <div><button id="modal-close">Close</button></div>
    <div class="modal-content-value" id="modal-content-master-password-prompt">
        <form id="masterpasswordentry">
        <label for="master-password">Master Password:</label>
        <input type="password" name="masterpassword" />
        <div>
        <input type="submit" value="OK" />
        <input type="button" value="Cancel" />
        <input type="hidden" name="group" />
        <input type="hidden" name="entry" />
        </div>
        </form>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(function() { initialisePasswordGroups(); });
</script>
}
