<section id="PasswordGroups">
<section data-id="group-1" class="group-section">
    <div>Group 1</div>
    <article>
        <ul class="password-list">
            <li data-id="group-1-item-1"><span class="password-name">Item 1</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <input type="button" value="Delete" /></span></li>
            <li data-id="group-1-item-2"><span class="password-name">A second item, #2</span><span class="password-value"><input type="text" value="Some plaintext value" readonly="readonly" data-type="decrypted" data-decrypted="true"/> <input type="button" value="Delete" /></span></li>
            <li data-id="group-1-item-3"><span class="password-name">Lastly, number 3</span><span class="password-value"><input type="text" value="The decrypted value" readonly="readonly" data-type="encrypted" data-decrypted="true"/> <input type="button" value="Delete" /></span></li>
        </ul>
    </article>
</section>

<section data-id="group-2" class="group-section">
    <div>Group 2</div>
    <article>
        <ul class="password-list">
            <li data-id="group-2-item-1"><span class="password-name">One encrypted</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <input type="button" value="Delete" /></span></li>
            <li data-id="group-2-item-2"><span class="password-name">And another encrypted value! And another encrypted value!</span><span class="password-value"><input type="text" value="****" readonly="readonly" data-type="encrypted" data-decrypted="false" title="Click to decrypt"/> <input type="button" value="Delete" /></span></li>
        </ul>
    </article>
</section>
</section>

<section id="AddNewEntry">
    <form id="addnewentryform">

    <fieldset>
    <legend>Add New / Update Entry</legend>
    <div>
        <label for="addnewentrygroup">Group:</label>
        <input type="text" id="addnewentrygroup" name="addnewentrygroup" />
    </div>
    
    <div>
        <label for="addnewentryname">Name:</label>
        <input type="text" id="addnewentryname" name="addnewentryname" />
    </div>
    
    <div>
        <label for="addnewentryvalueencrypted">Value Encrypted:</label>
        <input type="checkbox" id="addnewentryvalueencrypted" name="addnewentryvalueencrypted" value="true" />
    </div>
    
    <div>
        <label for="addnewentryvalue">Value:</label>
        <input type="text" id="addnewentryvalue" name="addnewentryvalue" />
    </div>

    <div>
        <input type="submit" value="Add" />
    </div>
    </fieldset>

    </form>
</section>

<section id="PasswordGenerator">
    <form id="passwordgeneratorform">

    <fieldset>
    <legend>Generate a Password</legend>
    <div>
        <label for="genpassminpasswordlength">Min password length:</label>
        <input type="number" min="4" step="1" id="genpassminpasswordlength" name="genpassminpasswordlength" value="8" />
    </div>
    
    <div>
        <label for="genpassmaxpasswordlength">Max password length:</label>
        <input type="number" min="0" step="1" id="genpassmaxpasswordlength" name="genpassmaxpasswordlength" value="0" />
    </div>

    <div>
        <label for="genpassspecialchars">Allow special characters:</label>
        <input type="checkbox" id="genpassspecialchars" name="genpassspecialchars" value="true" checked="checked" />
    </div>
        
    <div>
        <label for="genpassnumbers">Allow numbers:</label>
        <input type="checkbox" id="genpassnumbers" name="genpassnumbers" value="true" checked="checked" />
    </div>
        
    <div>
        <input type="submit" value="Generate" />
    </div>
    </fieldset>

    </form>
</section>

<p style="clear:both;">
    Notes:
    <ul>
        <li>Implement the password db; implement the controller actions to load/update/etc.</li>
        <li>Save master password for the length of the session (which we should set to a low value, e.g. 5 or 10 mins)</li>
        <li>Clean up login page</li>
        <li>After logging in (or if skipped) and the master password hasn't been set, go to a page to enter a new master password...which on success will create a valid masterdb password entry in the database.</li>
        <li>Implement dictionary stuff to generate new passwords</li>
        <li>Save / backup to Dropbox preferrably, but perhaps initially just allow download.</li>
        <li>Use the JS local storage library to save expanded group state.</li>
        <li>Checkout how to deploy to IIS.</li>
        <li>Need new ssl cert.</li>
    </ul>
</p>

<div id="modal-background"></div>
<div id="modal-content">
    <div><input id="modal-close" type="button" value="Close" /></div>
    <form id="masterpasswordentryform">
    <div class="modal-content-header"></div>

    <fieldset>
    <div>
        <label for="masterpassword">Master Password:</label>
        <input type="password" id="masterpassword" name="masterpassword" />
    </div>
    
    <div>
        <label for="remembermasterpassword">Remember for the session:</label>
        <input type="checkbox" id="remembermasterpassword" name="remembermasterpassword" value="true" />
    </div>
    </fieldset>

    <div>
    <input type="submit" value="OK" />
    <input type="button" value="Cancel" />
    <input type="hidden" name="action" />
    <input type="hidden" name="group" />
    <input type="hidden" name="entry" />
    <input type="hidden" name="value" />
    <input type="hidden" name="valueEncrypted" />
    </div>
    </form>
</div>

@section Scripts {
<script type="text/javascript">
    $(function() { initialisePasswordGroups(); });
</script>
}
