<h1>Login</h1>

<form id="passwordgeneratorform" action="@Url.Content("~/newuser")" method="post">

<fieldset>
<legend>Create your master password / phrase</legend>
<div>
    <label for="newmasterpassword">Master password:</label>
    <input type="password" id="newmasterpassword" name="newmasterpassword" />
</div>

<div>
    <label for="newmasterpasswordconfirm">Confirm Master password:</label>
    <input type="password" id="newmasterpasswordconfirm" name="newmasterpasswordconfirm" />
</div>

<div>
    <input type="submit" value="Create" />
</div>
</fieldset>

</form>
