@using Microsoft.AspNetCore.Http.Authentication
@model AuthenticationDescription

<h1>Login</h1>

<form action="@Url.Content("~/signin")" method="post">
    <input type="hidden" name="Provider" value="@Model.AuthenticationScheme" />
    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

    <p>
        Sign in using SmallId:
        <input type="submit" value="Login"/>
    </p>
</form>
