body {
    background-color: white;
}

body,
p,
li,
div,
span,
a,
td,
form,
button,
input,
textarea,
label,
legend {
    font-family: sans-serif;
    font-size: 11pt;
}

a,
a:link,
a:visited,
a:any-link {
    color: black;
    text-decoration: underline;
}

a:hover,
a:active {
    color: darkkhaki;
    text-decoration: none;
}

nav h1 {
    float: left;
    font-size: 16pt;
    padding: 5px 5px 0 0;
    margin: 0;
}

nav span.actions {
    float: right;
}

nav {
    clear: both;
    margin: 5px 5px 5px 0px
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

.groups>div {
    background-color: #408732;
    color: white;
    width: 164px;
    margin: 3px;
    text-align: center;
    font-size: 14pt;
    padding: 3px;
    cursor: default;
    word-wrap: break-word;
}

.group-entries {
    max-width: 900px;
    display: none;
}

.group-entries>div {
    clear: both;
    background-color: #408732;
    overflow: auto;
    margin: 3px;
    line-height: 26px;
    padding-left: 8px;
    padding-right: 6px;
    color: white;
}

.group-entries>div:first-child {
    padding: 10px;
    cursor: default;
}

.group-entries>div:first-child>span {
    font-size: 16pt;
}

.group-entries>div:first-child a {
    padding: 10px 0px 10px 50px;
    cursor: pointer;
}

.group-entries input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-entry-actions {
    float: right;
}

.notify {
    position: fixed;
    top: 5px;
    left: 250px;
    padding: 5px;
    background-color: #f2f9ff;
    color: black;
    border: 1px solid #baddff;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

#addnewentryform {
    margin: 20px 20px 0px 0px;
    float: left;
}

#addnewentryform legend {
    color: #408732;
}

#addnewentryform label {
    width: 115px;
    display: inline-block;
}

#addnewentryform input[type="submit"] {
    margin-left: 120px;
}

#passwordgeneratorform {
    margin-top: 20px;
    float: left;
}

#passwordgeneratorform legend {
    color: #408732;
}

#passwordgeneratorform label {
    width: 185px;
    display: inline-block;
}

#passwordgeneratorform input[type="number"] {
    width: 40px;
}

#passwordgeneratorform input[type="submit"] {
    margin-left: 190px;
}

#genpassoutput input {
    width: 245px;
}

aside#MasterPasswordEntry {
    display: none;
}

#masterpasswordentryform legend {
    color: #408732;
}

#masterpasswordentryform label {
    width: 185px;
    display: inline-block;
}

#masterpasswordentryform input[type="submit"] {
    margin-left: 190px;
}

legend[data-level="warn"] {
    font-weight: bold;
}

legend[data-level="error"] {
    font-weight: bold;
    color: red;
}

input[name="groupsfilter"] {
    display: none;
}

.error {
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

.end-section {
    clear: both;
    padding-top: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    a,
    a:link,
    a:visited,
    a:any-link {
        color: white;
    }
    a:hover,
    a:active {
        color: khaki;
    }
    section.signin h1,
    section.signin p {
        color: white;
    }
    footer {
        color: white;
    }
    #addnewentryform {
        color: white;
    }
    #passwordgeneratorform {
        color: white;
    }
    #masterpasswordentryform {
        color: white;
    }
}