body, li, div, span, a, td, form, button, input { font-family: sans-serif; font-size: 11pt; }
a, a:active, a:link, a:visited, a:hover { color: #000000; }
a:hover { text-decoration: none; }

fieldset { clear: both; margin-bottom: 5px; border: 1px solid #408732; padding: 8px; border-radius: 4px; }

nav h1 { float: left; font-size: 14pt; padding: 5px 5px 0 0; margin: 0; }
nav span.actions { float: right; }
nav { clear: both; margin: 5px 5px 5px 0px }

.group-section div { font-size: 13pt; margin-bottom: 3px; padding: 2px; background-color: #408732; color: #ffffff; font-weight: bold; cursor: default; }
ul.password-list { list-style-type: none; padding: 0 0 0 0; margin: 5px 0 20px 0; }
.password-list li { display: flex; flex-direction: row; position: relative; margin: 3px; padding: 0px 2px 2px 2px; color: #555555; background-color: #dee8d9; cursor: default; }
.password-list li:hover { color: #000000; }
.password-list > li > span.password-name { flex-grow: 1; display: block; overflow: hidden; padding: 4px 0px 4px 2px; }
.password-list > li > span.password-value { display: block; white-space: nowrap; }
input[type="text"][data-type="encrypted"][data-decrypted="false"] { color: #aaaaaa; }

#addnewentryform { margin: 20px 20px 0px 0px; float: left; }
#addnewentryform legend { color: #408732; }
#addnewentryform label { width: 115px; display: inline-block; }
#addnewentryform input[type="submit"] { margin-left: 120px; }

#passwordgeneratorform { margin-top: 20px; float: left; }
#passwordgeneratorform legend { color: #408732; }
#passwordgeneratorform label { width: 185px; display: inline-block; }
#passwordgeneratorform input[type="number"] { width: 40px; }
#passwordgeneratorform input[type="submit"] { margin-left: 190px; }
#genpassoutput input { width: 245px; }

.end-section { clear: both; padding-top: 20px; }

.error { font-weight: bold; color: red; margin-bottom: 10px; }

footer { clear: both; padding-top: 10px; padding-bottom: 2px; font-size: 9pt; }

/* modal window styles */
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}
    
#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 240px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: absolute;
    top: 50%;
    max-width: 340px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}

#modal-close { float: right; margin-bottom: 10px; }
.modal-content-header { padding-bottom: 10px; display: none; font-size: 13pt; }
.modal-content-header[data-level="warn"] { font-weight: bold; }
.modal-content-header[data-level="error"] { font-weight: bold; color: red; }

@media (prefers-color-scheme: dark) {
    body { background-color: black; }
    body, li, div, span, a, td { color: white; }
    a, a:active, a:link, a:visited, a:hover { color: white; }
    input[type=submit], input[type=button] { background-color: lightgray; color: black; }

    .password-list li { background-color: #333; }

    #modal-background { background-color: #222; }
    #modal-content { background-color: #111; }    
}